{% load i18n %}

<html>
  <body>
    <p>{% trans "This window should automatically redirect. If it does not, go back to your application." %}</p>
    <pre>{{ message }}</pre>
    <script>
      document.addEventListener("DOMContentLoaded", function(event) {
        // post message to parent window
        // console.log("posting message to {{ base_url }}");
        // console.log(window.opener);
        // window.opener.postMessage({{ message }}, "{{ base_url }}");
        // window.close();
        window.location.replace("{{ base_url }}");
      });
    </script>
  </body>
</html>
